{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/app1.css') }}">
<link rel="stylesheet" href="{{ asset('css/tumbler.css') }}">

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }


button[type="submit"] {
  /*   background-color: red; Серый фон для заблокированной кнопки */
    cursor: pointer; /* Указатель мыши в виде запрещённого знака */
}
button[type="submit"]:disabled {
    background-color: gray; /* Серый фон для заблокированной кнопки */
    cursor: not-allowed; /* Указатель мыши в виде запрещённого знака */
}
#logoutButton {
        position: absolute;  /* Используем абсолютное позиционирование */
        top: 10px;           /* Сдвигаем кнопку на 10px от верхнего края */
        right: 10px;         /* Сдвигаем кнопку на 10px от правого края */
        z-index: 10;         /* Убедитесь, что кнопка будет поверх других элементов */
    }


    </style>
    
{% endblock %}



{% block body %}



<div class="example-wrapper">
    <h1></h1>

 
    

      {# Показываем сообщение об успехе, если оно есть #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
  

    <div class="container">
    
 <div class="modal fade" id="agreementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 
        <div class="modal-dialog" role="document">
        
            <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Пользовательское соглашение</h5>
                    
                </div>
                
                <div class="modal-body" id="agreement-text">
                    <!-- Текст соглашения будет вставлен через JavaScript -->
                </div>
               
                <div class="modal-footer">
                 <label for="toggleCheckbox1">Принимаю пользовательское соглашение</label>
                      <label class="toggle-switch">
                            <input type="checkbox" id="toggleCheckbox1" />
                            <span class="slider"></span>
                        </label>
                        
                </div>
            </div>
            
        </div>
    
    </div>

    <form action="{{ path('handle_form') }}" method="post" class="grid-form">

    <label for="document_type">Выберите документ:</label>
    <label><input type="radio" name="document_type" value="doc1" checked> Договор о членстве</label>
    <label><input type="radio" name="document_type" value="doc2"> доп несовершеннолетние</label>
    <label><input type="radio" name="document_type" value="doc3"> Доп.соглашение об оплате</label>
    <label><input type="radio" name="document_type" value="doc4"> Анкета оздоровье и характере ребёнка</label>
    
   


    
    


    <div id="doc1_fields" class="doc_fields">
       <div class="form-group">
        <label for="name">Имя1:</label>
        <input name="name" id="name" type="text">
    </div>

    <div class="form-group">
        <label for="secondName">Фамилия:</label>
        <input name="secondName" id="secondName" type="text">
    </div>

    <div class="form-group">
        <label for="thirdName">Отчество:</label>
        <input name="thirdName" id="thirdName" type="text">
    </div>

    <div class="form-group">
        <label for="age">Возраст:</label>
        <input name="age" id="age" type="number">
    </div>

    <div class="form-group">
        <label for="numberPassport">Номер паспорта:</label>
        <input name="numberPassport" id="numberPassport" type="number">
    </div>

    <div class="form-group">
        <label for="serialPassport">Серия паспорта:</label>
        <input name="serialPassport" id="serialPassport" type="number">
    </div>

    <div class="form-group">
        <label for="passportIssuedBy">Кем выдан:</label>
        <textarea name="passportIssuedBy" id="passportIssuedBy" rows="3"></textarea>
    </div>

    <div class="form-group">     
        <label for="passportDate">Когда выдан:</label>
        <textarea name="passportDate" id="passportDate" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="address">Адрес:</label>
        <textarea name="address" id="address" rows="3"></textarea>
    </div>
    </div>

    <div id="doc2_fields" class="doc_fields" style="display:none;" >
       <div class="form-group">
        <label for="name">Имя2:</label>
        <input name="name" id="name" type="text">
    </div>

    <div class="form-group">
        <label for="secondName">Фамилия:</label>
        <input name="secondName" id="secondName" type="text">
    </div>

    <div class="form-group">
        <label for="thirdName">Отчество:</label>
        <input name="thirdName" id="thirdName" type="text">
    </div>

    <div class="form-group">
        <label for="age">Возраст:</label>
        <input name="age" id="age" type="number">
    </div>

    <div class="form-group">
        <label for="numberPassport">Номер паспорта:</label>
        <input name="numberPassport" id="numberPassport" type="number">
    </div>

    <div class="form-group">
        <label for="serialPassport">Серия паспорта:</label>
        <input name="serialPassport" id="serialPassport" type="number">
    </div>

    <div class="form-group">
        <label for="passportIssuedBy">Кем выдан:</label>
        <textarea name="passportIssuedBy" id="passportIssuedBy" rows="3"></textarea>
    </div>

    <div class="form-group">     
        <label for="passportDate">Когда выдан:</label>
        <textarea name="passportDate" id="passportDate" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="address">Адрес:</label>
        <textarea name="address" id="address" rows="3"></textarea>
    </div>
    </div>

    <div id="doc3_fields" class="doc_fields" style="display:none;" >
       <div class="form-group">
        <label for="name">Имя3:</label>
        <input name="name" id="name" type="text">
    </div>

    <div class="form-group">
        <label for="secondName">Фамилия:</label>
        <input name="secondName" id="secondName" type="text">
    </div>

    <div class="form-group">
        <label for="thirdName">Отчество:</label>
        <input name="thirdName" id="thirdName" type="text">
    </div>

    <div class="form-group">
        <label for="age">Возраст:</label>
        <input name="age" id="age" type="number">
    </div>

    <div class="form-group">
        <label for="numberPassport">Номер паспорта:</label>
        <input name="numberPassport" id="numberPassport" type="number">
    </div>

    <div class="form-group">
        <label for="serialPassport">Серия паспорта:</label>
        <input name="serialPassport" id="serialPassport" type="number">
    </div>

    <div class="form-group">
        <label for="passportIssuedBy">Кем выдан:</label>
        <textarea name="passportIssuedBy" id="passportIssuedBy" rows="3"></textarea>
    </div>

    <div class="form-group">     
        <label for="passportDate">Когда выдан:</label>
        <textarea name="passportDate" id="passportDate" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="address">Адрес:</label>
        <textarea name="address" id="address" rows="3"></textarea>
    </div>
    </div>

    <div id="doc4_fields" class="doc_fields" style="display:none;" >
       <div class="form-group">
        <label for="name">Имя4:</label>
        <input name="name" id="name" type="text">
    </div>

    <div class="form-group">
        <label for="secondName">Фамилия:</label>
        <input name="secondName" id="secondName" type="text">
    </div>

    <div class="form-group">
        <label for="thirdName">Отчество:</label>
        <input name="thirdName" id="thirdName" type="text">
    </div>

    <div class="form-group">
        <label for="age">Возраст:</label>
        <input name="age" id="age" type="number">
    </div>

    <div class="form-group">
        <label for="numberPassport">Номер паспорта:</label>
        <input name="numberPassport" id="numberPassport" type="number">
    </div>

    <div class="form-group">
        <label for="serialPassport">Серия паспорта:</label>
        <input name="serialPassport" id="serialPassport" type="number">
    </div>

    <div class="form-group">
        <label for="passportIssuedBy">Кем выдан:</label>
        <textarea name="passportIssuedBy" id="passportIssuedBy" rows="3"></textarea>
    </div>

    <div class="form-group">     
        <label for="passportDate">Когда выдан:</label>
        <textarea name="passportDate" id="passportDate" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="address">Адрес:</label>
        <textarea name="address" id="address" rows="3"></textarea>
    </div>
    </div>



   

        <button type="submit">Отправить</button>
    </form>

    



<form action="{{ path('app_logout') }}" method="post">
        <button type="submit" id="logoutButton"> Выход</button>
    </form>

    <!-- Подключаем jQuery и Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/hidden.js') }}"></script>
            
    <script src="{{ asset('js/B.js') }}"></script>

    <!-- Скрипт для управления согласием -->
    <script>
        
        // Вставка текста пользовательского соглашения
        document.getElementById('agreement-text').innerHTML = `
            <h2>Пользовательское соглашение</h2>
<p>Настоящим документом Вы свободно, своей волей и в своем интересе в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» и Гражданским кодексом Российской Федерации даете МОО "Спецвзвод" (115211, город Москва, Каширское ш., д. 55 к. 3, кв. 665 , ИНН 7724333247, ОГРН 1157700014669) (далее – Организация) сознательное, информированное согласие на обработку Ваших персональных данных, а именно:</p>

<ul>
    <li>паспортные данные;</li>
    <li>анкетные данные;</li>
    <li>данные иных документов, которые с учетом специфики деятельности Организации и в соответствии с законодательством Российской Федерации должны быть предъявлены мною;</li>
    <li>данные договора о членства и приложений к нему;</li>
    <li>фотографии;</li>
    <li>иные сведения обо мне, которые необходимо для корректного документального оформления правоотношений между мною и Организацией.</li>
</ul>

<p>Указанные персональные данные будут использоваться для достижения уставных целей деятельности Организации.</p>

<p>Настоящее согласие действует со дня акцепта в течение 12 месяцев или до момента отзыва настоящего согласия.</p>

        `;
    </script>

   

{% endblock %}


